$palette: (
  firstBlue: #135794,
  secondBlue: #0CBAA1,
  thirdBlue: #104A7D,
  fourthBlue: #4378a9,
  fithBlue: #135695,
  sixthBlue: #6692b9,
  darkBlue: #0E2330,
  firstBlack: #000000,
  secondBlack: #0E0E0E,
  firstWhite: #FFFFFF,
  secondWhite: #E8E8E8,
  darkGrey: #A7A7A7,
  lightGrey: #D9D9D9,
  seconfGrey: #b8cddf,
  gradient: linear-gradient(to right, #0CBAA1, #135794),
  verticalGradient: linear-gradient(#0CBAA1, #135794)
);

@function palette($level) {
  @if not map-has-key($palette, $level) {
    @error "Unknown palette level '#{$level}'";
  }

  @return map-get($palette, $level);
}
