<aside class="sidebar">
  <button class="menu-button">
    <img src="assets/menuIcon.png" alt="кнопка меню">
  </button>

  <div class="icons">
    <nav class="icons-group">
      <a class="home-icon" href="#">
        <img src="assets/homeIcon.png" alt="иконка домой">
      </a>

      <a class="cube-icon" href="#">
        <img src="assets/cubeIcon.png" alt="иконка куба">
      </a>

      <a class="gear-icon" href="#">
        <img src="assets/gearIcon.png" alt="иконка шестеренки">
      </a>

      <a class="triangle-icon" href="#">
        <img src="assets/triangleIcon.png" alt="иконка треугольника">
      </a>

      <a class="vPACS-icon" href="#">
        <img src="assets/vPACSIcon.png" alt="иконка vPACS">
      </a>
    </nav>

    <a class="question-icon" href="#">
      <img src="assets/questionSign.png" alt="FAQ">
    </a>
  </div>
</aside>
