<app-sidebar class="app-component"/>

<div class="content">
  <header class="header-line">
    <img class="header-logo" src="assets/logo.png" alt="логотип ЦДЭС">

    <div class="header-authorisation">
      <div class="authorisation">
        <img class="authorisation-icon" src="assets/userPhoto.png" alt="фото">

        <p class="authorisation-name">Владислав Владимирович</p>
      </div>

      <a routerLink="/login" routerLinkActive="active" class="exit" href="#" (click)="logout()">
        <img src="assets/exit.png" alt="выход">
      </a>
    </div>
  </header>

  <main class="main">
    <div class="projects">
      <p class="projects-p">Проекты</p>

      <button class="projects-button" (click)="addProject()">Добавить проект</button>
    </div>

    <div class="main-content">
      <div id="projects-table" class="projects-table">
        <app-table id="table" class="app-table"
                   [projects]="projects" (projectClicked)="selectProject($event)"/>

        <footer class="footer">
          <a href="#">
            <img src="assets/leftArrow.png" alt="стрелка влево">
          </a>

          <p class="footer-text">Страница 1 из 11 Проектов</p>

          <a href="#">
            <img src="assets/rightArrow.png" alt="стрелка вправо">
          </a>
        </footer>
      </div>

      <app-toolbar id="toolbar"
                   class="app-component"
                   [state]="toolbarState"
                   [isHidden]="(toolbarState === 'default')"
                   [project]="selected"
                   (resetProject)="setValues()"
                   (createdProject)="onCreateProject($event)"
                   (projectDelete)="onDeleteProject($event)"/>
    </div>
  </main>
</div>

<router-outlet/>
