@use "style.scss";
@use "theme.scss";
@use "typography.scss";

:host {
  display: flex;
  width: fit-content;
  max-width: 100%;
  transition: max-width 0.1s ease-in-out;

  &.isHidden {
    max-width: 0;
  }
}

.create {
  box-sizing: border-box;
  min-width: 560px;
  background: theme.palette(verticalGradient);

  &-project {
    height: 100%;
  }
}

.element-description {
  @include style.flex(column);

  padding: 41px;
  background-color: theme.palette(fithBlue);
  color: theme.palette(firstWhite);
  overflow: hidden;

  &-item {
    @include style.flex(row, flex-start, center);

    color: theme.palette(firstWhite);

    &.name {
      @include style.flex(row, space-between, center);

      width: 100%;

      & .name-text {
        @include typography.font(h2);

        width: 366px;
      }
    }

    &.date {
      @include typography.font(h4);

      margin-top: 20px;

      & .date-text {
        margin-right: 17px;
      }
    }

    &.apps {
      @include style.flex(row, space-between);

      margin: 18px 0 16px;

      &-text {
        @include typography.font(h23);

        margin-top: 52px;
      }
    }

    &.user-authorisation {
      @include typography.font(h3);

      margin-top: 41px;

      & .authorisation-icon {
        margin-right: 14px;
      }

      & .authorisation-role {
        margin-right: 20px;
      }
    }
  }

  &-form {
    //height: 100%;
    width: 100%;
  }
}

.toolbar-footer {
  margin-top: auto;
}

.nti-button {
  @include style.flex(row, center, center);

  padding: 0;
  margin-left: 10px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid #fff;

  &:hover {
    opacity: .8;
  }

  &:focus {
    outline: none;
  }

  &-image {
    height: 26px;
    width: 26px;
    padding: 2px 8px;
  }
}
